#datetime-picker {
    padding: 8px 16px;
    font-size: 24px;
    color: #2E2F42;
    border-radius: 4px;
}

[data-start] {
    background-color: #4E75FF;
    color: #fff;
    width: 75px;
    height: 40px;
    border-radius: 8px;
    font-size: 24px;
    border: none;
}

[data-start]:hover {
    background-color: #6C8CFF;
    color: #FFFFFF;
}

[data-start]:disabled {
    background-color: #989898;
    color: #CFCFCF;
}

.timer {
    display: flex;
    gap: 24px;
}

.field {
    display: flex;
    flex-direction: column;
}

.value {
    font-size: 48px;
}

.label {
    font-size: 24px;
}