body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  margin: 0;
  padding: 36px 156px;
}

.input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  letter-spacing: 0.04em;
  color: #2e2f42;

  width: 274px;

  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 32px;

  border: 1px solid #808080;
  border-radius: 4px;
}

.start-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #cfcfcf;

  width: 75px;
  height: 37px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;

  cursor: default;
}

.start-active {
  background-color: #4e75ff;
  cursor: pointer;

  transform: background-color;
  transition: background-color 250ms linear;
}

.start-active:hover {
  background-color: #6c8cff;
}

.timer {
  display: flex;
  gap: 24px;

  width: 346px;
  margin-bottom: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;

  color: #2e2f42;
}
